@using CodigoComun.DTO;
@model DepositoDTO

<h1>Editar Deposito</h1>

<div class = "col-md-4">
    <form asp-action ="Edit">

        <div class = "form-group">
            <label class = "control-label">Capacidad</label>
            <input asp-for="Capacidad" class="form-control" />
        </div>
        <div class = "form-group">
            <label class = "control-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class = "form-group">
            <label class = "control-label">Direccion</label>
            <input asp-for="Direccion" class="form-control" />
        </div>
       
        <br />
        <div class="form.froup">
            <input type = "submit" value="Guardar" class="btn btn-primary" />
        </div>

    </form>
</div>

<div class="container">
    <a asp-action="Index">Volver</a>
    <br />
    @if (Model.HuboError == true)
    {
        <div class="alert alert-danger" role="alert">
            <label>@ViewBag.Mensaje</label>
        </div>
    }

</div>