@using CodigoComun.Entities
@model IEnumerable<Deposito>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Soy el Index de Depositos!</h1>
<table class="table">
<thead>
    <tr>
        <th>
        Id:
        </th>
         <th>
         Capacidad:
         </th>
         <th>
          Nombre:
         </th>
         <th>
         Direccion:
         </th>

    </tr>
<thead/>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Capacidad</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
            </tr>


            }
    </tbody>
<table/>
